# SPDX-FileCopyrightText: 2025 University of Manchester
#
# SPDX-License-Identifier: apache-2.0

[submodule "Blazor-ApexCharts"]
	path = Blazor-ApexCharts
	url = https://github.com/aharwood2/Blazor-ApexCharts.git
