[Unit]
Description=T:ITS app kestrel server

[Service]
EnvironmentFile=/var/www/tits/variables.env
WorkingDirectory=/var/www/tits
ExecStart=/usr/bin/dotnet /var/www/tits/PPMTool.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=tits
User=www-data

[Install]
WantedBy=multi-user.target
